/* body {
    background-color: #243e90;
}

#greeting{
    color: #f47d26;
} */

button {
  background-color: #243e90;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 12px;
}

body {
    background: linear-gradient(to right, #00AAFF, #00FF6C);
    width: 750px;
    margin: auto;
}

#grid{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 20px;
    border: 5px solid black; 
    border-radius: 25px;
    padding: 10px;
}

.board-head {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 20px;
    margin: 20px auto;
    border: 5px solid black;
    border-radius: 25px;
}

.cell{
    margin: auto;
    border: 2px solid transparent;
    border-radius: 50%;
    padding: 20px;
    font-size:xx-large
}

.cell:hover{
    border-color: black;
}


.header:hover{
    border-color: transparent;
}

.clicked{
    background-color: black;
    color: white;
    opacity: 0.75;
}

.unclicked{
    background-color: transparent;
    color: black;
}

h1 {
    text-align: center;
    margin: 30px auto;
}